image: java:8-jdk

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
 - build
 - test
 - postTest

build:
  stage: build
  script: ./gradlew --build-cache assemble -s
  artifacts:
    paths:
      - subprojects/**/build/libs/*.jar
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
      - subprojects/**/build

test:
  stage: test
  script: 
    - ./gradlew check jacocoTestReport
    - bash <(curl -s https://codecov.io/bash)
  artifacts:
    reports:
      junit: subprojects/**/build/test-results/**/TEST-*.xml
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
      - subprojects/**/build
 
test with JDK 11:
  image: openjdk:11-jdk
  stage: test
  script: ./gradlew check
  artifacts:
    reports:
      junit: subprojects/**/build/test-results/**/TEST-*.xml
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
      - subprojects/**/build
      
test with JDK 13:
  image: openjdk:13-jdk
  stage: test
  script: ./gradlew check
  allow_failure: true
  artifacts:
    reports:
      junit: subprojects/**/build/test-results/**/TEST-*.xml
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
      - subprojects/**/build

build and test with latest Gradle:
  image: gradle:latest
  stage: postTest
  script: gradle assemble :changelog-automation-gradle-plugin:check
  allow_failure: true
  artifacts:
    reports:
      junit: subprojects/**/build/test-results/**/TEST-*.xml
